<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- e-mail -->
    <add key="eMailFromUser" value= "prudencio.giovanni@gmail.com"/>
    <add key="eMailFromPassWord" value= "quatrocincotresdois"/>
    <add key="clientUrl" value= "imap.gmail.com"/>

    <!-- Serial -->
    <add key="sPortName" value= "COM5"/>
    <add key="sBaudRate" value= "9600"/>
  </appSettings>
</configuration>